<ion-view class="home-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-top">
        <h1 class="app-logo">logo</h1>
        <p class="app-tagline">
            This app helps you discover and buy amazing things all in one place.
          </p>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">Log Out</a>
      </div>
    </div>
  </ion-content>
</ion-view>
